<!DOCTYPE html>
<html lang="es">

<body class="bg-gray-100 font-sans antialiased text-gray-800">



  <!-- Barra lateral -->
  <aside id="sidebar-menu"
    class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-full fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0">
    <div class="relative border-b border-white/20">
      <img src="logo3.png" alt="" class="logo" style="width: 280px;">
      <a class="flex items-center gap-4 py-6 px-8" href="#">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white">
          Panel de Administración
        </h6>
      </a>
    </div>
    <div class="render">
      <ul id="menu-items-list" class="mb-4 flex flex-col gap-1">

        @for (item of items; track item.label) {
        <li>
          <a [href]="item.url || '#'" [class.active]="activeItem === item">
            <i [class]="'pi pi-' + (item.icon || '')"></i>
            <strong>{{ item.label }}</strong>
            @if (item['smallText']) {
            <small>{{ item['smallText'] }}</small>
            }
          </a>
          @if (item.items) {
          <ul>
            @for (subItem of item.items; track subItem.label) {
            <li>
              <a [href]="subItem.url || '#'">
                <i [class]="'pi pi-' + (subItem.icon || '')"></i>
                {{ subItem.label }}
              </a>
              @if (subItem.items) {
              <ul>
                @for (subSubItem of subItem.items; track subSubItem.label) {
                <li>
                  <a [href]="subSubItem.url || '#'">
                    <i [class]="'pi pi-' + (subSubItem.icon || '')"></i>
                    {{ subSubItem.label }}
                  </a>
                </li>
                }
              </ul>
              }
            </li>
            }
          </ul>
          }
        </li>
        }

      </ul>
    </div>
  </aside>
</body>

</html>