<ul>
  <li *ngFor="let item of items">
    <a [routerLink]="item.routerLink" (click)="setActive(item)">
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </a>

    <!-- Submenú (si existen hijos) -->
    <ul *ngIf="item.items">
      <li *ngFor="let child of item.items">
        <a [routerLink]="child.routerLink">
          <i [class]="child.icon"></i>
          <span>{{ child.label }}</span>
        </a>

        <!-- Sub-submenú -->
        <ul *ngIf="child.items">
          <li *ngFor="let subChild of child.items">
            <a [routerLink]="subChild.routerLink">
              <i [class]="subChild.icon"></i>
              <span>{{ subChild.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
